{% if paginate.next %}
  <div class="pagination align-center">
    <a class="more btn action small" href="{{ paginate.next.url }}" data-action="load-more-articles" data-message="{{ 'general.pagination.articles_loading' | t }}">
      {{ 'general.pagination.articles_more' | t }}
    </a>
  </div>
{% endif %}